In [10]:
import pandas as pd

# supervised learning to classify # of cyl
from sklearn.model_selection import train_test_split
filename = 'data/mpg.csv'
data = pd.read_csv(filename) 

# drop classification column
cyl_features = data.drop(['cyl'], axis=1)

# drop non-numeric data for simplicity, can vectorize string data as will
cyl_features = cyl_features.drop(['manufacturer', 'model', 'trans', 'class', 'drv', 'fl'], axis=1)

Xtrain, Xtest, ytrain, ytest = train_test_split(cyl_features, data['cyl'], random_state=1)

In [11]:
from sklearn.naive_bayes import GaussianNB
from sklearn import svm

from sklearn.metrics import accuracy_score

model = GaussianNB()
model.fit(Xtrain, ytrain)
y_model = model.predict(Xtest)
accuracy_score(ytest, y_model)

0.9322033898305084

In [13]:
Xtest.head()

     displ  year  cty  hwy
199    5.7  2008   13   18
69     4.7  2008    9   12
233    3.6  2008   17   26
39     3.3  1999   16   22
138    4.0  2008   13   19

In [14]:
model.predict([[5.7, 2008, 13, 18]])

array([8])

In [17]:
data.loc[199]

manufacturer                    toyota
model           land cruiser wagon 4wd
displ                              5.7
year                              2008
cyl                                  8
trans                         auto(s6)
drv                                  4
cty                                 13
hwy                                 18
fl                                   r
class                              suv
Name: 199, dtype: object

In [18]:
# mazda miata mx-5
model.predict([[2.0, 2017, 26, 35]])Â

array([4])